@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Pathway+Gothic+One&display=swap');

.fuente{
    font-family: 'Cabin Sketch', cursive;
    
   
}

.img-modal{
    width: 25em;
    height: 23em;
    object-fit: cover;

}

.text-precio{
    font-size: 25px;
    font-weight: 800;
}


.btn.detalle-btn{
    background-color: black;
    color: white;
    border: 2px solid rgb(190, 180, 38);

}
.btn.detalle-btn:hover{
    background-color: black;
    color: white;
    border: 2px solid rgb(190, 180, 38);

}






