/* CSS NAV*/
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Pathway+Gothic+One&display=swap');

.fuente{
    font-family: 'Cabin Sketch', cursive;
    
   
}

.logoNav{
  width: 6em;
  border-radius: 50%;
}

.navbar-brand.navegador{
  padding-top: 0px;
    padding-bottom: 0px;
}



    .tarjetas{
        flex-basis: fit-content;
       justify-content: center;
        margin-top: 25px;
        box-shadow: 0px 5px 2px 0px rgb(26, 26, 26);
       
        
        background-color: white;
       
    }
    
    
    .imgTarjetas{
    width: 21rem;
    height:25rem;
   
    
    
    }
    
    
    
    .tituloscard:hover{
     
        text-decoration: none;
        color: black;}
    
    
   
      
        /*EFECTO BTN AGREGAR AL CARRITO*/
            .css-button-sliding-to-left--sky {
                min-width: 130px;
                height: 40px;
                color: #fff;
                padding: 5px 10px;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                display: inline-block;
                outline: none;
                border-radius: 5px;
                z-index: 0;
                background: #fff;
                overflow: hidden;
                border: 2px solid blue;
                color: blue;
              }
              .css-button-sliding-to-left--sky:hover {
                color: #fff;
              }
              .css-button-sliding-to-left--sky:hover:after {
                width: 100%;
              }
              .css-button-sliding-to-left--sky:after {
                content: "";
                position: absolute;
                z-index: -1;
                transition: all 0.3s ease;
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                background: blue;
              }
               .DataStore{
                display: flex;
                justify-content: space-around

              
               }
               .Iconstruck{
                width: 3rem;
                height: 3rem;
                
               }

               .IconsCard{
                width: 3rem;
                height: 3rem;
               }

               .IconsWhastsapp{
                width: 3rem;
                height: 3rem;

               }
        

        
               .nav.imgNav{
                background-image: url(../components/common/img/Fondo2Nav.png.png);
                 background-size: cover ;
             }

             .navbar.nave{
              --bs-navbar-brand-padding-y: 1.3125rem;
              --bs-navbar-nav-link-padding-x: 4rem;
              
             }

             

             .footer{
              background-image: url(../components/common/img/Fondo2Nav.png.png);
              background-size: cover ;
             }

             .imgCarrousel{
              background-image: url(https://www.canva.com/design/DAFcLkmS0qY/ohgkdMjhHkviUO_dBgX63w/view?utm_content=DAFcLkmS0qY&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink);
             }
             