.btnRegistrarse{
    width: 10rem;
}

.btnSesion{
   
    width: 10rem;
   
}

.formulario2{ 
    
    color: white;
    background: black;
    width: 30em;
    height: fit-content;
    padding: 20px 10px 20px 10px;
    border-radius: 25px;
    box-shadow: 2px 4px 10px 2px rgb(78, 78, 78);
    


}






@media all and (max-width:756px){
    

    .formulario2{
        width: 90%;
    }
}

@media all and (min-width:756px) and (max-width:991px){

    .formulario2{
        
    height: fit-content;
    }

}